@use 'variables' as *;

:host {
    display: grid;
    grid-template-columns: 300px 1fr;
    height: 100%;
}

.contact-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 24px 16px;
    overflow-y: auto;
    box-shadow: 4px 0px 6px rgba(0, 0, 0, 0.08);
    position: relative;
    z-index: 1;

    &__group {
        padding-top: 8px;
        margin-left: 8px;
        width: 42px;
        text-align: center;
    }
}

hr {
    border: none;
    border-top: 1px solid $color-divider;
    margin: 0;
}

.contact {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 12px 8px;
    border-radius: 10px;
    cursor: pointer;

    &__name {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &:hover:not(.contact--active) {
        background: linear-gradient(180deg, #f9f9f9 0%, #f0f0f0 100%);
    }

    &.contact--active {
        background-color: $color-dark;

        .contact__name {
            color: $color-white;
        }
    }

    &__avatar {
        width: 42px;
        height: 42px;
        border: 2px solid $color-white;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $color-white;
        font-size: 1rem;
        font-weight: 400;
        flex-shrink: 0;
    }

    &__info {
        display: flex;
        flex-direction: column;
        min-width: 0;
    }

    &__name {
        font-size: 1.25rem;
        font-weight: 400;
    }

    &__email {
        color: $color-link;
        text-decoration: none;
        font-size: 1rem;
        font-weight: 400;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
}

.contact-detail {
    padding: 110px 0 0 58px;
    background-color: $color-section-bg;
    position: relative;

    &__title {
        display: flex;
        align-items: center;
        gap: 12px;
        margin: 0;
    }

    &__divider {
        width: 1px;
        height: 40px;
        background: $color-hover-blue;
    }

    &__subtitle {
        font-weight: normal;
        font-size: 20px;
        color: $color-dark;
    }
}

app-overlay {
    position: absolute;
}
