@if (mode() === 'contacts') {
    <div class="dropdown-contacts" [class.open]="isOpen()" (click)="$event.stopPropagation()">
        <div class="dropdown-wrapper">
            <div class="dropdown-header" (click)="toggle()">
                <input
                    #searchInput
                    type="text"
                    [value]="searchQuery()"
                    (input)="searchQuery.set($any($event.target).value)"
                    (click)="$event.stopPropagation()"
                    placeholder="Select contacts to assign"
                />
                <span class="arrow" (click)="toggle()">
                    <svg
                        width="8"
                        height="5"
                        viewBox="0 0 8 5"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M2.90593 4.3L0.305932 1.7C-0.0107345 1.38333 -0.0815678 1.02083 0.0934322 0.6125C0.268432 0.204167 0.580932 0 1.03093 0H6.18093C6.63093 0 6.94343 0.204167 7.11843 0.6125C7.29343 1.02083 7.2226 1.38333 6.90593 1.7L4.30593 4.3C4.20593 4.4 4.0976 4.475 3.98093 4.525C3.86427 4.575 3.73927 4.6 3.60593 4.6C3.4726 4.6 3.3476 4.575 3.23093 4.525C3.11427 4.475 3.00593 4.4 2.90593 4.3Z"
                            fill="#2A3647"
                        />
                    </svg>
                </span>
            </div>
            <div class="dropdown-list" [class.visible]="isOpen()">
                @for (contact of filteredContacts(); track contact.id) {
                    <div class="dropdown-item" (click)="toggleContact(contact)" [class.selected]="isSelected(contact)">
                        <div class="avatar" [style.background]="getAvatarColor(contact.id)">
                            {{ getInitials(contact.name) }}
                        </div>
                        <span>{{ contact.name }}</span>
                        <div class="checkbox" [class.checked]="isSelected(contact)">
                            @if (isSelected(contact)) {
                                <svg
                                    width="18"
                                    height="18"
                                    viewBox="0 0 18 18"
                                    fill="none"
                                    xmlns="http://www.w3.org/2000/svg"
                                >
                                    <path
                                        d="M17 8V14C17 15.6569 15.6569 17 14 17H4C2.34315 17 1 15.6569 1 14V4C1 2.34315 2.34315 1 4 1H12"
                                        stroke="white"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                    />
                                    <path
                                        d="M5 9L9 13L17 1.5"
                                        stroke="white"
                                        stroke-width="2"
                                        stroke-linecap="round"
                                        stroke-linejoin="round"
                                    />
                                </svg>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    @if (selectedContacts().length > 0) {
        <div class="selected-avatars">
            @for (contact of selectedContacts(); track contact.id) {
                <div class="avatar" [style.background]="getAvatarColor(contact.id)">
                    {{ getInitials(contact.name) }}
                </div>
            }
        </div>
    }
}

@if (mode() === 'category') {
    <div class="dropdown-category" [class.open]="isOpen()" (click)="$event.stopPropagation()">
        <div class="dropdown-wrapper">
            <div class="dropdown-header" (click)="toggle()">
                <input
                    type="text"
                    [value]="selectedCategory() ?? 'Select task category'"
                    readonly
                />
                <span class="arrow">
                    <svg
                        width="8"
                        height="5"
                        viewBox="0 0 8 5"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M2.90593 4.3L0.305932 1.7C-0.0107345 1.38333 -0.0815678 1.02083 0.0934322 0.6125C0.268432 0.204167 0.580932 0 1.03093 0H6.18093C6.63093 0 6.94343 0.204167 7.11843 0.6125C7.29343 1.02083 7.2226 1.38333 6.90593 1.7L4.30593 4.3C4.20593 4.4 4.0976 4.475 3.98093 4.525C3.86427 4.575 3.73927 4.6 3.60593 4.6C3.4726 4.6 3.3476 4.575 3.23093 4.525C3.11427 4.475 3.00593 4.4 2.90593 4.3Z"
                            fill="#2A3647"
                        />
                    </svg>
                </span>
            </div>
            <div class="dropdown-list" [class.visible]="isOpen()">
                @for (cat of categories; track cat) {
                    <div class="dropdown-item" (click)="selectCategory(cat)">
                        {{ cat }}
                    </div>
                }
            </div>
        </div>
    </div>
}
