$color-dark: #2a3647;
$color-dark-active: #091931;
$color-hover-blue: #29abe2;
$color-hover-teal: #124658;
$color-white: #ffffff;
$color-section-bg: #f6f7f8;
$color-link: #007cee;
$color-light-text: #e7e7e7;
$color-dark-hover: #2a3d59;
$color-divider: #d1d1d1;
$color-input-border: rgba(107, 107, 107, 0.714);
$color-error: #e53e3e;
$color-disabled: #5e6266;
$color-backdrop: rgba(0, 0, 0, 0.45);
