@use 'variables' as *;
@use 'mixins' as *;

.login-page {
    align-items: center;
    background: #f6f7f8;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    min-height: 100vh;
    padding: 24px;
}

.card {
    background: white;
    border-radius: 30px;
    display: grid;
    gap: 32px;
    max-width: 652px;
    padding: 36px;
    width: 100%;
    box-shadow: 0px 0px 14px 3px #00000024;
}

h1 {
    color: black;
    @include font($weight: 700, $size: 61px, $line-height: 120%);
    margin: 0 0 8px;
    text-align: center;
    position: relative;

    &::after {
        content: "";
        position: absolute;
        width: 20%;
        bottom: -23px;
        left: 50%;
        border-radius: 2px;
        transform: translate(-50%, -50%);
        border: 3px solid #29abe2;
    }
}

label {
    position: relative;
    color: #2a3647;
    display: grid;
    font-weight: 600;
    margin: 0 115px;
    gap: 6px;

    & svg {
        position: absolute;
        top: 50%;
        right: 16px;
        transform: translateY(-50%);
    }

    & .password-toggle {
        cursor: pointer;

        &.hidden {
            display: none;
        }
    }
}

.signup-toggle {
    display: flex;
    gap: 35px;
    position: absolute;
    align-items: center;
    top: 67px;
    right: 122px;

    & p {
        @include font($size: 20px, $line-height: 120%);
    }

    & button {
        padding: 15px 16px;
    }
}

input {
    border: 1px solid white;
    color: black;
    @include font($size: 20px, $line-height: 120%);
    border-radius: 10px;
    border: 1px solid $color-divider;
    box-sizing: border-box;
    height: 48px;
    padding: 12px;
    width: 100%;

    &::placeholder {
        color: $color-divider;
    }

    &:focus {
        outline: none;
        border-color: $color-hover-teal;
    }
}

.error-input {
    border-color: #E60026;
}

.check {
    display: flex;
    font-size: 14px;
    font-weight: 400;
}

.check input {
    width: auto;
}

a {
    color: #007cee;
}

button {
    background: #2a3647;
    border: 0;
    border-radius: 8px;
    color: white;
    @include font($weight: 700, $size: 21px, $line-height: 120%);
    cursor: pointer;
    font-weight: 700;
    padding: 15px 24px;
}

button:disabled {
    opacity: 0.6;
}

button.link {
    background: transparent;
    color: #007cee;
    font-weight: 400;
    padding: 0;
}

.actions {
    display: flex;
    gap: 35px;
    justify-content: center;
}

button.guest {
    background: white;
    border: 1px solid #2a3647;
    color: #2a3647;
}

.error {
    position: absolute;
    bottom: -22px;
    @include font($size: 16px, $line-height: 120%);
    color: #E60026;
    margin: 0;
}

.links {
    display: flex;
    gap: 16px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    bottom: 36px;

    & a {
        @include font($size: 1rem, $line-height: 120%);
        color: $task-divider;
        text-decoration: none;

        &:hover {
            color: $color-hover-teal;
            font-weight: 700;
        }
    }
}

@media (max-width: 600px) {
    .card {
        padding: 28px 20px;
    }
}