.container {
  display: grid;
  grid-template-columns: 232px 1fr;
  grid-template-rows: 96px 1fr;
  grid-template-areas:
    'navbar header'
    'navbar content';
  height: 100dvh;
}

app-navbar {
  grid-area: navbar;
}
app-header {
  grid-area: header;
}
.content {
  grid-area: content;
  overflow-y: auto;
}
