@use 'mixins' as *;
@use 'variables' as *;

dialog {
    width: 525px;
    height: 100%;
    margin: auto;
    padding: 0;
    overflow-y: auto;
    border: none;
    border-radius: 30px;
    box-shadow: -4px 0 16px rgba(0, 0, 0, 0.15);

    &.add-task-mode {
        width: calc(100vw - 96px);
        max-width: 1116px;
        max-height: calc(100dvh - 96px);
    }

    &::backdrop {
        background: $color-backdrop;
        backdrop-filter: blur(3px);
    }
}

.overlay-content {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 24px;
    height: 100%;
    padding: 48px 40px;
    overflow: hidden;
}

.backdrop-fade-in::backdrop {
    animation: fade-in 0.175s ease-out;
}

.backdrop-fade-out::backdrop {
    animation: fade-out 0.175s ease-in;
}

@keyframes fade-in {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fade-out {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.panel-slide-in {
    animation: slide-in 0.175s ease-out;
}

.panel-slide-out {
    animation: slide-out 0.175s ease-in;
}

@keyframes slide-in {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0%);
    }
}

@keyframes slide-out {
    from {
        transform: translateX(0%);
    }

    to {
        transform: translateX(100%);
    }
}

.task-category-wrapper {
    display: flex;
    justify-content: space-between;
}

.close-overlay {
    width: 32px;
    height: 32px;
    padding: 0;
    background: none;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    transition: all 170ms ease-in-out;

    svg {
        width: 100%;
        height: 100%;
    }

    &:hover {
        background: #d9d9d9;
        scale: 1.1;
        transition: all 170ms ease-in-out;
    }
}

.span-wrapper {
    display: flex;
    gap: 25px;
}

.contacts-wrapper {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.span-title {
    @include font($weight: 400, $size: 20px, $line-height: 120%);
    color: $color-dark;
}

.avatar-wrapper {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 7px 16px;
}

.task-buttons {
    position: absolute;
    right: 40px;
    bottom: 48px;
    display: flex;
    align-items: center;
    gap: 8px;

    .seperator::after {
        border: 1px solid #d1d1d1;
        content: '';
    }

    & button {
        display: flex;
        align-items: center;
        gap: 8px;
        background: none;
        border: none;
        color: $color-dark;
        cursor: pointer;
        @include font($weight: 400, $size: 1rem, $line-height: 120%);

        & svg {
            width: 24px;
            height: 24px;
        }
    }
}

.task {
    &-category {
        display: inline-block;
        padding: 4px 24px;
        border-radius: 8px;
        color: $color-white;
        align-self: flex-start;
        @include font($weight: 400, $size: 1rem, $line-height: 120%);

        &.user-story {
            background-color: $color-category-user-story;
        }

        &.technical-task {
            background-color: $color-category-technical-task;
        }
    }

    &-title {
        @include font($weight: 700, $size: 61px, $line-height: 120%);
        color: $color-dark;
    }

    &-description {
        @include font($weight: 400, $size: 20px, $line-height: 120%);
        color: black;
    }

    &-date {
        @include font($weight: 400, $size: 20px, $line-height: 120%);
        color: black;
    }

    &-priority {
        display: flex;
        align-items: center;
        gap: 10px;
        padding: 4px 18px;
        color: black;
        @include font($weight: 400, $size: 20px, $line-height: 120%);
    }

    &-avatar {
        @include avatar-circle($size: 32px);
        @include font($weight: 400, $size: 1rem, $line-height: 120%);
        margin-left: -8px;
        border: 1px solid $color-white;
        box-shadow: none;

        &:first-child {
            margin-left: 0;
        }
    }
}

.subtasks-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label.checkbox {
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    padding: 6px 16px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #ececec;

        & input:checked+.checkmark::before{
            background-color: #ececec;
        }
    }

    & input {
        display: none;

        &:checked+.checkmark::after {
            position: absolute;
            top: -5px;
            right: 1px;
            width: 5px;
            height: 13px;
            margin-bottom: 5px;
            border: 2px solid #2a3647;
            border-radius: 1px;
            content: "";
            border-width: 0 2px 2px 0;
            transform: rotate(42deg);
        }

        &:checked+.checkmark::before {
            position: absolute;
            top: -3px;
            right: -4px;
            width: 9px;
            height: 9px;
            background-color: white;
            border-radius: 100%;
            content: "";
        }
    }

    & .checkmark {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border: 2px solid $color-dark;
        border-radius: 3px;
    }
}
dialog.add-task-mode .close-overlay {
    position: absolute;
    top: 68px;
    right: 44px;
}

dialog.add-task-mode .overlay-content {
    padding: 0;
}

.subtasks-wrapper{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

label.checkbox {
    display: flex;
    align-items: center;
    gap: 16px;
    width: fit-content;
    padding: 6px 16px;
    border-radius: 10px;
    cursor: pointer;

    &:hover {
        background-color: #ececec;

        & input:checked+.checkmark::before{
            background-color: #ececec;
        }
    }

    & input {
        display: none;

        &:checked+.checkmark::after {
            position: absolute;
            top: -5px;
            right: 1px;
            width: 5px;
            height: 13px;
            margin-bottom: 5px;
            border: 2px solid #2a3647;
            border-radius: 1px;
            content: "";
            border-width: 0 2px 2px 0;
            transform: rotate(42deg);
        }

        &:checked+.checkmark::before {
            position: absolute;
            top: -3px;
            right: -4px;
            width: 9px;
            height: 9px;
            background-color: white;
            border-radius: 100%;
            content: "";
        }
    }

    & .checkmark {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 16px;
        height: 16px;
        border: 2px solid $color-dark;
        border-radius: 3px;
    }
}